2013.csv
2017.csv
2016.csv
2014.csv
x.csv
x_agg.csv
microdata.csv
monthlyewage2015.csv
monthlyewage2016.csv
monthlyewage2017.csv
monthlyewage2018.csv
monthlyewage2019.csv
monthlyewage2020.csv
monthlyewage2021.csv
monthlyewage2022.csv
monthlywage15_22_long.csv